@import "../../styles/variables";
.project {
    text-align: center;
    background: $medium-turquoise;
    padding: 1.2rem 1.4rem;
    box-shadow: $default-box-shadow;
    min-height: 60vh;
    border-radius: $default-card-border-radius;
    button {
        border-style: none;
    }
    .backButton {
        background: rgb(235, 92, 92);
        &:hover {
            background: rgba(25, 255, 255, 0.5);
            //border: 1px solid #79f5da;
        }
    }
    .linkButton {
        background: $navbar-green;
        &:hover {
            background: rgba(25, 255, 255, 0.5);
            // background: #79f5da;
            //border: 1px solid #79f5da;
        }
    }
    .linkButton,
    .backButton {
        width: 40%;
        padding: 0.4rem 1rem;
        box-shadow: $default-box-shadow;
        border-radius: $default-card-border-radius*2;
        display: flex;
        justify-content: center;
        gap: 2rem;
        &:active {
            background: #27d6c8;
            //border: 27d6c8;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        }
    }
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    gap: 2rem;
    background: rgba($aquamarine, 0.4);
    border-radius: $default-card-border-radius*2;
    padding: 1rem 0;
}

.project h2 {
    font-size: 1.6rem;
}