@import "../../styles/variables";
.listSection {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    padding: 1.2rem 1.4rem;
    background: linear-gradient(to bottom, $blue-jeans, $vivid-sky-blue);
    box-shadow: $default-box-shadow;
    border-radius: $default-card-border-radius;
    h2 {
        font-size: 2rem;
    }
}

.projectList {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    li {
        margin: 1rem auto;
        background: $blue-jeans;
        filter: hue-rotate(45deg);
        width: 50%;
        padding: 1rem;
        border-radius: $default-card-border-radius;
        //margin: 0 auto;
        //background: $aquamarine;
        //width: 50%;
        //padding: 0.6rem;
        //gap: 2rem;
        //&:hover ;
        //background: $aquamarine;
        //filter: brightness(0.5);
        //-webkit-filter: brightness(0.5);
        //:;
        -webkit-filter: hue-rotate(45deg);
    }
}
