@import "../../styles/variables";
.listSection {
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    padding: 1.2rem 1.4rem;
    background: linear-gradient(to bottom, $blue-jeans, $vivid-sky-blue);
    box-shadow: $default-box-shadow;
    border-radius: $default-card-border-radius;
    h2 {
        font-size: 2rem;
    }
}

.projectList {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    li {
        margin: 1rem auto;
        background: $blue-jeans;
        background: lighten($mikado-yellow, 20%);
        width: 90%;
        padding: 1rem;
        border-radius: $default-card-border-radius*3;
        box-shadow: $default-box-shadow;
        //margin: 0 auto;
        //background: $aquamarine;
        //width: 50%;
        //padding: 0.6rem;
        //gap: 2rem;
        //&:hover ;
        //background: $aquamarine;
        //filter: brightness(0.5);
        //-webkit-filter: brightness(0.5);
        //:;
        //-webkit-filter: hue-rotate(45deg);
        //-webkit-border-radius: $default-card-border-radius*3;
        //-moz-border-radius: $default-card-border-radius*3;
        //-ms-border-radius: $default-card-border-radius*3;
        //-o-border-radius: $default-card-border-radius*3;
    }
}

// .projectListItem {
//     width: 80%;
// }
.toolsContainer {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    @media (min-width: 900px) {
        flex-direction: row;
    }
    li {
        background: $black;
        color: $white;
    }
}

.imageContainer {
    margin: 1rem auto;
    color: $white;
    // background: linear-gradient(to top, rgba($black, 0.5) 10%, rgba($black, 0.1), rgba($blue-jeans, 0) 50%);
    display: flex;
    align-self: center;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    border-radius: 25%;
    // box-shadow: inset 2px 12px 10px 12px $black;
    transition: all .3s ease-in;
    object-fit: contain;
    z-index: 1;
    @media(min-width: 768px) {
        width: 480px;
        height: 300px;
    }
    &:hover {
        box-shadow: none;
        // background: linear-gradient(to top, rgba($black, 0.5) 10%, rgba($black, 0.1), rgba($blue-jeans, 0) 50%);
    }
}

.imageContainer>* {
    box-shadow: 2px 2px 3px $black;
    width: 80%;
    height: 60%;
    transition: all .3s ease-in;
    &:hover {
        width: 100%;
        height: 100%;
        transform: scaleX(1.2);
    }
}

.button {
    cursor: pointer;
    background: #27d6b0;
    border: 1px solid #27d6b0;
    padding: 0.5rem 1.2rem;
    border-radius: 4px;
    color: #3f5012;
    font-size: 1.2rem;
    text-align: center;
    //color: rgb(19, 30, 65);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    border-radius: 25px;
}

.button:hover {
    background: #79f5da;
    border: 1px solid #79f5da;
}

.button:active {
    background: #27d6c8;
    border: 1px solid #27d6c8;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}