@import "../../styles/variables";
.project {
    text-align: center;
    background: $color-tertiary-light;
    padding: 1.2rem 1.4rem;
    box-shadow: $default-box-shadow;
    min-height: 60vh;
    border-radius: $default-card-border-radius;
    button {
        border-style: none;
    }
    .backButton {
        background: #ff174f;
        &:hover {
            background: #c00730;
        }
        &:active {
            background: rgba(255, 0, 10, 0.5);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        }
    }
    .linkButton {
        background: $navbar-green;
        &:hover {
            background: rgba(25, 255, 255, 0.5);
            // background: #79f5da;
            //border: 1px solid #79f5da;
        }
        &:active {
            background: #27d6c8;
            //border: 27d6c8;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        }
    }
    .linkButton,
    .backButton {
        width: 40%;
        padding: 0.4rem 1rem;
        box-shadow: $default-box-shadow;
        border-radius: $default-card-border-radius*4;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    gap: 2rem;
    background: rgba($color-primary-light, 0.4);
    // border-radius: $default-card-border-radius*2;
    padding: 1rem 0;
    border-bottom-right-radius: $default-card-border-radius*4;
    border-bottom-left-radius: $default-card-border-radius*4;
}

.project h2 {
    font-size: 1.6rem;
    color: $white;
}

.projectText {
    background: $black;
    color: $white;
    border-top-left-radius: $default-card-border-radius*4;
    border-top-right-radius: $default-card-border-radius*4;
    padding: 2rem 0.4rem;
    margin: 0 auto;
    letter-spacing: .1rem;
}

.projectAllContent {
    box-shadow: 2px 2px 10px $black;
    border-radius: $default-card-border-radius*4;
    -webkit-border-radius: $default-card-border-radius*4;
    -moz-border-radius: $default-card-border-radius*4;
    -ms-border-radius: $default-card-border-radius*4;
    -o-border-radius: $default-card-border-radius*4;
}