@import "../../styles/variables";
.contactForm {
    background: linear-gradient(to top, $black 14%, rgba($color-primary-dark, .7) 14% 70%, $color-primary-dark 40%);
    color: $white;
    width: 90%;
    margin: 1rem auto;
    box-shadow: $default-box-shadow;
    border-radius: $default-card-border-radius*4;
    .submitFormButton: {
        padding: 1rem 0;
    }
}

.control {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 70vw;
    margin: 0.5rem auto;
    // padding: 2rem;
    // justify-content: space-between;
    // align-content: space-around;
    // gap: 1rem;
    // align-items: flex-start;
    label,
    input {
        align-items: flex-start;
        padding: 0 1rem;
        //margin: 0.8rem auto;
        min-width: 40%;
        max-width: 80%;
        height: 4vh;
        margin: 2rem auto;
    }
    label {
        align-self: center;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
    }
    input,
    textarea {
        font-family: "Lato";
        font-size: 1.1rem;
        filter: opacity(.8);
        -webkit-filter: opacity(.8);
        transition: all .2s linear;
        border-radius: $default-card-border-radius*4;
        outline: none;
        &:focus {
            filter: opacity(1);
            -webkit-filter: opacity(1);
        }
    }
    input {
        // width: 100%;
        // height: 4vh;
    }
    textarea {
        width: 80%;
        padding: 0.5rem 1rem;
        margin: 1.2rem auto;
    }
    @media(max-width: 768px) {
        height: 40vh;
    }
}
