@import "../../styles/variables";
.contactForm {
    padding: 1rem;
    // background: linear-gradient(to top, $black 14%, rgba($color-primary-dark, .7) 14% 70%, $color-primary-dark 40%);
    background: linear-gradient(to top, $black 14%, $color-four-dark 15% 40%);
    color: $white;
    width: 90%;
    margin: 1rem auto;
    box-shadow: $default-box-shadow;
    border-radius: $default-card-border-radius*8;
    .contactForm>*{
        overflow: hidden;
    }
    .submitFormButton {
        padding: 0.4rem 0;
        border-radius: $default-card-border-radius*2;
    }
    min-height: 40vh;
    max-height: 140vh;

}

.control {
    background: $french-violet;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    border: 1px solid $white;
    filter: opacity(0.9) saturate(.64);
    border-top-left-radius: $default-card-border-radius*4;
    border-top-right-radius: $default-card-border-radius*4;
    border-bottom-left-radius: $default-card-border-radius*4;
    border-bottom-right-radius: $default-card-border-radius*4;
    padding: 1rem 1rem;
     //justify-content: center;
    width: 60vw;
    min-height: 14vh;
    max-height: 40vh;
    margin: 0.6rem auto;
    overflow: scrollbar;
    box-shadow: 4px 4px 4px 6px rgba(60, 40, 160, 0.8);

    @media(min-width: 768px) {
        padding: 0 auto;
        border: none;
        margin: auto;
        label {
            text-align: left;
            justify-content: flex-start;
        }
    }

    // padding: 2rem;
    // justify-content: space-between;
    // align-content: space-around;
    // gap: 1rem;
    // align-items: flex-start;
    label,
    input {
        align-self: center;
        align-content: space-evenly;
        justify-self: flex-start;
        padding: 1rem 1rem;
        //margin: 0.8rem auto;
        min-width: 40%;
        max-width: 90%;
        margin: 0.2rem auto;
    }
    label {
         //align-items: center;
         //justify-self: center;
        font-size: 1.4rem;
        padding: 2rem 2rem;
        width: 20vw;
        // height: 6vh;
        letter-spacing: 0.1rem;
        text-align: left;
        margin-left: 0;
    }
    input,
    textarea {
        font-family: Lato, sans-serif;
        font-size: 1.1rem;
        filter: opacity(.6);
        -webkit-filter: opacity(.6);
        transition: all .2s linear;
        border-radius: $default-card-border-radius*4;
        outline: none;
        &:focus {
            filter: opacity(1);
            -webkit-filter: opacity(1);
        }
    }
    input {
        // width: 100%;
        // height: 4vh;
    }
    textarea {
        width: 80%;
        padding: 0.5rem 1rem;
        margin: 1.2rem 0;


    }
    @media(max-width: 767px){
        input,
        textarea {
            font-size: 0.8rem;
        }
        label {
            font-size: 1.4rem;
            font-weight: 600;
        }
    }
    @media(min-width: 768px) {
        height: 10vh;
        flex-direction: row;
        font-size: 0.4rem;
        .contactForm>*{
            overflow: hidden;

        }
    }

}
.descriptionLabel{
    font-size: 1.4rem;
    padding: 2rem 2rem;
    width: 20vw;
    // height: 6vh;
    letter-spacing: 0.1rem;
    @media(min-width: 768px) {
        font-size: 1.4rem;
        margin: 2rem 4rem;
        width: 30vw;
        //margin: 0 auto;
    }
}

