@import "../../styles/variables";
.form {
    text-align: center;
    background: $turquoise;
    padding: 10px;
    width: 80vw;
    margin: 0 auto;
    border-radius: $default-card-border-radius;
}

.formControl {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    gap: 2rem;
    width: 60%;
    margin: 0 auto;
    border: 2px solid #1a5f1e;
    padding: 2rem;
}

.formControl label {
    font-size: 1.2rem;
    align-self: center;
}

.formControl button {
    font-size: 1.2rem;
    align-self: center;
}