@import "../../styles/variables";
.footer {
    position: relative;
    //background: linear-gradient(to right, $color-tertiary 40%, $color-tertiary-dark 80% 80%, $color-four-light 90%);
    background: lighten($black, 10%);
    top: 50vh;
    bottom: 10%;
    width: 100%;
    height: 14vh;
    // border-top: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerContent {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-content: flex-end;
    padding: 0 0 0 2rem;
    flex-direction: row;
    justify-content: space-between;
    h4 {
        font-family: $font-family-funky;
        font-size: 2rem;
        align-self: center;
        color: $navbar-green;
        @media(max-width: 767px) {
            font-size: 1rem;
        }
    }
}

.footerLinks {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    height: 14vh;
    margin: 0;
    background: linear-gradient(to right, rgba($color-four-light, 0.9) 50%, rgba($color-four-dark, 1) 50%);
    border-radius: 40%;
}