@import "../../styles/variables";
.header {
    font-family: $font-family-oswald;
    width: 99vw;
    //height: 8vh;
    //flex-basis: 0 0 1;
    background: linear-gradient(to left, $color-tertiary-dark, $color-tertiary, $color-tertiary-dark);
    padding: 2rem 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    //wrap: nowrap;
    align-self: center;
    justify-content: space-around;
    box-shadow: 1px 2px 6px rgba($black, 0.3);
    nav {
        //border: 1px solid rgba(255, 255, 255, 0.2);
        width: 80vw;
        //height: 8vh;
        //justify-content: stretch;
        align-items: center;
        align-self: center;
    }
}

.brand {
    font-size: 1.6rem;
    width: 10%;
    margin: 1.2rem 2rem;
    cursor: pointer;
    transition: all .2s ease-out;
    &:hover {
        color: $white;
    }
    @media(min-width: 768px) {
        padding: 0.8rem 1rem;
        font-weight: 600;
    }
}

.topNavButtons {
    font-family: $font-family-funky;
    width: 90%;
    // min-width: 200px;
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 1.2rem;
    gap: 1rem;
    a {
        // width: 100%;
        margin: 0 auto;
        font-size: 1.2rem;
        padding: 0.4rem 0.6rem;
        border-radius: 6px;
        transition: all .4s ease-in;
        outline: none;
        border: none;
        box-shadow: inset 1px 2px 3px $black;
        cursor: pointer;
        color: $white;
        //padding: 0.4rem;
        background: $french-violet;
        &:hover {
            background-color: $aquamarine;
            opacity: 1;
            box-shadow: 2px 2px 4px $black;
            color: $black;
        }
        @media(min-width: 768px) {
            font-size: 1.4rem;
            padding: 0.8rem 0.8rem;
            font-weight: 600;
        }
        @media(max-width: 767px) {
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            margin: 1rem auto;
            padding: 0.5rem 0.4rem;
            letter-spacing: .1rem;
            font-weight: 500;
            align-content: space-around;
            //gap: 2rem;
        }
        &:active {
            background-color: $color-tertiary-light;
            color: $black;
            //background-color: $jazzberry-jam;
            filter: hue-rotate(45deg);
        }
        &:focus {
            //background-color: $jazzberry-jam;
            //color: $white;
            background-color: $color-tertiary-light;
            filter: brightness(1);
            color: $black;
        }
        &:visited {
            box-shadow: inset 2px 2px 8px $black;
        }
    }
}