@import "../../styles/variables";
.header {
    width: 100%;
    //height: 8vh;
    //flex-basis: 0 0 1;
    background: $vivid-sky-blue;
    padding: 2rem 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    //wrap: nowrap;
    align-self: center;
    justify-content: space-around;
    box-shadow: 1px 2px 6px rgba($black, 0.3);
    nav {
        //border: 1px solid rgba(255, 255, 255, 0.2);
        width: 90vw;
        //height: 8vh;
        //justify-content: stretch;
        align-items: center;
        align-self: center;
    }
}

.brand {
    font-size: 1.2rem;
}

.topNavButtons {
    width: 80vw;
    display: flex;
    align-items: space-between;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 2rem;

    a {
        width: 100%;
        margin: 0 auto;
        font-size: 1.2rem;
        padding: 0.2rem 0.4rem;
        border-radius: 6px;
        transition: all .4s ease-in;
        outline: none;
        border: none;
        box-shadow: inset 1px 2px 3px $black;
        cursor: pointer;
        &:hover {
            background-color: $turquoise;
            opacity: 1;
            box-shadow: 2px 2px 4px $black;
        }
        // @include respond(large) {
        //     width: 200px;
        // }
        // @include respond(medium) {
        //     width: 200px;
        // }
        &:active {
            background-color: $mikado-yellow;
            filter: hue-rotate(45deg);
        }
        &:focus {
            background: $slate-blue;
            color: $navbar-green;
        }
        &:visited {
            box-shadow: inset 2px 2px 8px $black;
        }
    }
}
