    @import "../../styles/variables";
    .homeContent {
        font-family: $font-family-sans;
        width: 90vw;
        min-height: 40vw;
        margin: 2rem auto;
        //background: $color-tertiary-dark;
        background: lighten($black, 10%);
        padding: 1rem 0.4rem;
        border-radius: $default-card-border-radius*4;
        box-shadow: 1px 2px 12px rgba(0, 10, 10, 0.4);
        h1 {
            background: lighten($color-tertiary-light, 20%);
            padding: 1rem;
            letter-spacing: .2rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border: 1px solid $color-tertiary-dark;
            text-transform: uppercase;
        }
        p {
            padding: 1rem;
            background: $black;
            color: $white;
            // border: 1px solid $white;
            font-family: Lato, sans-serif;
            font-size: 1.2rem;
            line-height: 1.8rem;
            text-align: justify;
        }
        h2 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background: $black;
            text-shadow: 1px 1px 10px darken($white, 20%);
            color: $white;
            padding: 1rem;
            // font-family: Lato, sans-serif;
        }
        @media(min-width: 768px) {
            h1 {
                padding: 1rem 2rem;
                margin: 1rem 2rem;
                letter-spacing: 0.6rem;
            }
            p,
            h2 {
                padding: 1rem 2rem;
                margin: 1rem 8rem;
                letter-spacing: 0.2rem;
                font-weight: 400;
            }
            p {
                line-height: 1.8rem;
            }
        }
    }
    
    .textContainer {
        // background: linear-gradient(to bottom right, $dodger-blue 85%, $persian-blue 84%);
        background: linear-gradient(to bottom, rgba($color-four-dark, 0.22) 2%, rgba($color-four-dark, 0.2) 10%, rgba($color-four-light, 0.7) 22% 50%, rgba($color-four-dark, 0.6) 98%);
        margin: 1rem 2rem;
        padding: 2rem;
        border-radius: $default-card-border-radius*4;
        &>* {
            border-radius: $default-card-border-radius*4;
        }
        @media(max-width: 767px) {
            h1,
            h2 {
                font-size: 1.2rem;
                padding: 1rem;
            }
        }
    }
    
    .paraContainer {
        //width: 90%;
        //margin: 0 auto;
        p {
            background: darken($white, 10%);
            color: $black;
        }
        @media(min-width: 768px) {
            p {
                width: 100%;
                margin: 0 auto;
                font-size: 1.4rem;
                text-align: center;
            }
        }
    }