@import "../../styles/variables";
.button {
    cursor: pointer;
    background: #27d6b0;
    border: 1px solid #27d6b0;
    padding: 0.5rem 1.2rem;
    border-radius: 4px;
    color: $black;
    font-weight: 900;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    text-align: center;
    //color: rgb(19, 30, 65);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    margin: 1rem auto;
}

.button:hover {
    background: #79f5da;
    border: 1px solid #79f5da;
}

.button:active {
    background: #27d6c8;
    border: 27d6c8;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
