//.cardList {
//    // align-content: flex-start;
//    direction: row;
//    //width: 10%;
//    gap: 3rem;
//    width: 80vw;
//    // text-align: center;
//    margin: 1rem 0;
//}
//

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 80%;
    height: 40%;
    margin: 0.5rem auto;
}
