@import "../../styles/variables";
//.cardList {
//    // align-content: flex-start;
//    direction: row;
//    //width: 10%;
//    gap: 3rem;
//    width: 80vw;
//    // text-align: center;
//    margin: 1rem 0;
//}
//
.main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem auto;
}

.list {
    // background: radial-gradient(ellipse, $color-tertiary-light 80%, $color-tertiary-dark);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 60vw;
    height: 30vh;
    margin: 0.5rem auto;
}

.title {
    h1 {
        letter-spacing: 0.2rem;
    }
}