@import "../../styles/variables";
.contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, $blue-jeans, $vivid-sky-blue);
    padding: 10px;
    width: 80vw;
    margin: 2rem auto;
    border-radius: $default-card-border-radius;
    box-shadow: $default-box-shadow;
}