@import "../../styles/variables";
.contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // background: linear-gradient(to bottom, $blue-jeans, $vivid-sky-blue);
    // background: linear-gradient(to bottom, $color-tertiary-light, $color-tertiary-dark);
    // background: radial-gradient(ellipse, $color-tertiary-light 80%, $color-tertiary-dark);
    background: radial-gradient(ellipse, $color-tertiary-light 88%, $color-tertiary-dark 16%);
    padding: 10px;
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: $default-card-border-radius;
    box-shadow: $default-box-shadow;
    h1 {
        letter-spacing: 0.4rem;
    }
}