@keyframes logoanimate {
  0% {
    filter: hue-rotate(0deg);
    backdrop-filter: drop-shadow(4px 4px 12px white);
    outline: 1px solid white;

  }
  55% {
    //filter: hue-rotate(45deg);
    backdrop-filter: drop-shadow(4px 4px 12px white);
    outline: none;

  }
  65% {
    // border-radius: 32px;
    //filter: hue-rotate(90deg) opacity(0.8);
    backdrop-filter: drop-shadow(4px 4px 12px white);
  }
  70% {
    //border-radius: 20px;
    filter: hue-rotate(-45degdeg) opacity(0.8);
    transform: translateX(20px);
  }
 76% {
    // border-radius: 32px;
    filter: hue-rotate(-90deg) opacity(0.8);
    backdrop-filter: drop-shadow(4px 4px 12px white);

  }
  84% {
    //filter: hue-rotate(-45deg);
    backdrop-filter: drop-shadow(4px 4px 12px white);


  }
  80% {
    filter: hue-rotate(-20deg);
    outline: 1px solid white;

  }

}
