$black: rgb(0, 10, 20);
$white: rgb(255, 245, 235);
$persian-blue: #072ac8ff;
$dodger-blue: #1e96fcff;
$uranian-blue: #a2d6f9ff;
$cadmium-yellow: rgba(156, 152, 27, 0.678);
$mikado-yellow: rgb(255, 232, 149);
$purple: #7400b8ff;
$french-violet: #6930c3ff;
$slate-blue: #5e60ceff;
$tufts-blue: #5390d9ff;
$blue-jeans: #4ea8deff;
$vivid-sky-blue: #48bfe3ff;
$sky-blue-crayola: #56cfe1ff;
$medium-turquoise: #64dfdfff;
$turquoise: #72efddff;
$aquamarine: #80ffdbff;
$navbar-green: #91daa1;
$default-card-border-radius: 4px;
$gradient: linear-gradient(to top right, $french-violet 2%, $slate-blue 14%, $tufts-blue, $blue-jeans, $vivid-sky-blue, $sky-blue-crayola 86%, $medium-turquoise 90%, $turquoise 98%)