//$black: rgba(45, 15, 46, 0.69);
$black: #0C1825;
//$white: rgb(255, 245, 235);
$white: #F3F4F6;
$persian-blue: #072ac8ff;
$dodger-blue: #1e96fcff;
$uranian-blue: #a2d6f9ff;
$cadmium-yellow: rgba(243, 24, 224, 0.96);
$mikado-yellow: rgb(115, 90, 0);
$purple: #60009b;
$french-violet: #6930c3ff;
$slate-blue: #5e60ceff;
$tufts-blue: #5390d9ff;
$blue-jeans: #4ea8deff;
$vivid-sky-blue: #48bfe3ff;
$sky-blue-crayola: #56cfe1ff;
$medium-turquoise: #0dcdcd;
$turquoise: #72efddff;
$aquamarine: #15b430;
$aquamarine-light: #59ce6c;
$navbar-green: #11ff47;
$default-card-border-radius: 4px;
$gradient: linear-gradient(to top right, $french-violet 2%, $slate-blue 14%, $tufts-blue, $blue-jeans, $vivid-sky-blue, $sky-blue-crayola 86%, $medium-turquoise 94%, $turquoise 98%);
$default-box-shadow: 2px 2px 6px rgba(45, 15, 46, 0.69);
