@import "./variables";
// @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Odibee+Sans&family=Oswald:wght@200;300;400;500;600;700&display=swap');
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    background: lighten($black, 20%);
    // background: repeating-linear-gradient(to top left, #fff 10% 20%, #f3f3f3 25% 40%, #f8f7d1 40% 100%);
    // background: repeating-linear-gradient(to top left, $color-secondary 10% 20%, $color-secondary-light 25% 40%, $white 30% 80%);
    font-size: calc(10px + 2vmin);
    &:not(footer) {
        font-size: 1.2rem;
    }
    color: $black;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: Roboto, sans-serif;
    font-family: "Helvetica Neue", Roboto, sans-serif;
    color: $black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.center {
    margin: auto;
    text-align: center;
}